.header .ant-space {
    width: 100%;
    padding: 0 16px;
}

.header .ant-space-item:last-child {
    margin-left: auto;
    width: 300px;
}

@media screen and (max-width: 768px) {
    .header button span.label-btn {
        display: none;
    }
}