.ant-tabs-nav {
    width: 25%;
}

.notes-list {
    height: calc(100vh - 64px)
}

.empty-list {
    height: calc(100vh - 64px);
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
    color: #8c8c8c;

}

@media screen and (max-width: 768px) {
    .notes-list {
        display: none;
    }
}